.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  /*
    px
    %
    vw
    vh
  */
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 10vmin);
  color: white;
}

.PUH-Header {
  background-color: #282c34;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: "-webkit-linear-gradient(#000000, #FFFFFF)";
}

.gradient-text {
  
  font-size: calc(80px);

  background-color: rgb(255, 255, 255);
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #0104d3, #00f7ff);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-darkmode {
  color: white;
  border-color:#0205a4!important;
  /*background-color: rgb(31, 31, 34)!important;*/
  background: linear-gradient(360deg, #012e75 30%, rgb(31, 31, 34) 106.09%);
  border-radius: 3px;
}

.white-font {
  color: white;
}

hr.break1{
  margin: 5px;
}

hr.break2{
  margin: 6px;
}

.aboutText{
  color: white;
  text-align: left;
}

.aboutCard {
  color: white;
  background-color: rgb(31, 31, 34)!important;
}

.aboutCardBlue {
  color: white;
  border-color:#0205a4!important;
  background-color: rgb(31, 31, 34)!important;
}

.contactList {
  background: rgb(31, 31, 34)!important;
  color: white!important;
}

.login-overflow {
  overflow-x: hidden;
}

.table-format{
  border-color:#0205a4!important;
}