.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PUH_Header {
  background-color: #000000;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: rgb(27, 239, 247);
}

.PUH_BotHeader {
  background-color: #000000;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(27, 239, 247);
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.paragraph_text {
  text-align: left;
  font-size: 15px;
}

.standard_header {
  text-align: center;
  font-size: 40px;
}

.container {
  width: 500px;
  clear: both;
}

input {
  border: 10px solid rgb(122, 5, 5);
  padding: 10px;
  margin: 5px;
  background: blue;
  font: 15px sans-serif
}

.signin_text {
  font-size: 20px;
}
